<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%-5level] - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="com.datastax" level="ERROR"/>
    <logger name="ru.sociohub.parker.test" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>